.btn {
    background-color: blue;
    color: white;
    border: none;
    margin: 30px auto;
    padding: 10px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;

}

.btn:disabled {
    background-color: #888;
    cursor: not-allowed;
}